<main>
    <section class="side_nav">
        <div class="logo">
            <p>Achieve.iT</p>
        </div>
        <div class="button">
            <img src="{{_images.add}}" alt="add">
        </div>
    </section>
    <section class="body">
        <div class="header">
            <div class="search">
                <img src="{{_images.search}}" alt="search">
                <input type="text" placeholder="Search">
            </div>

        </div>
        <div class="content"></div>
    </section>
</main>